body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.background-banner {
    width: 100%;
    min-height: 250px;
    transition: transform 0.5s ease-in-out;
}

body.scrolled .background-banner {
    transform: scale(1.1) translateY(-10px);
}

.overlay-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    z-index: 2;
}

.banner {
    position: fixed;
    width: 100%;
    height: 280px;
    overflow: hidden;
    background-attachment: fixed;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2e8df;
    color: #774c60;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/* Add padding to the bottom of main content to avoid overlap with fixed footer */
.main-content {
    margin-top: 250px;
    padding: 20px 0 50px 0; /* Added 50px padding-bottom */
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #d4a071;
    margin-top: 0;
    margin-bottom: 15px;
}

a {
    color: #d4a071;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #333333;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.feature {
    flex: 1;
    background-color: #fff;
    border: 1px solid #d4a071;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

.feature-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
}

/* Fix the footer to the bottom of the viewport */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #774c60;
    color: #f2e8df;
    text-align: center;
    padding: 10px 0;
    z-index: 3; /* Ensure the footer is above other content */
}

/* Code box styling */
.code-box {
    background-color: #2d2d2d;
    padding: 15px;
    border-radius: 8px;
    color: #a9b7c6;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto;
}

.code-box code {
    display: block;
    white-space: pre;
}

.core-concepts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.concept {
    padding: 10px;
    border: 1px solid #ddd; /* Optional border */
    border-radius: 8px; /* Optional rounded corners */
}

.concept-card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
